@page
@model Presentation.Pages.Attendance.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-5">
    <div class="align-middle p-3 my-3 bg-danger rounded shadow-sm">
        <h1 class="fs-4 mb-0 text-white">Delete this attendance?</h1>
    </div>

    <div class="p-4 bg-body border shadow-sm rounded">
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="AttendanceDetailsViewModel.Id" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.Id)
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="AttendanceDetailsViewModel.LectureName" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.LectureName)
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="AttendanceDetailsViewModel.LectureDate" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.LectureDate)
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="AttendanceDetailsViewModel.Presence" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.Presence)
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-5">
                <label asp-for="AttendanceDetailsViewModel.HometaskDone" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.HometaskDone)
            </div>
        </div>

        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a role="button" class="btn btn-secondary" asp-page="./Index" >Back to List</a>
        </form>
    </div>
</div>
