@page
@model Presentation.Pages.Attendance.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this attendance?</h3>
<div>
    <hr />
    <div>
        <div class="row g-3 align-items-center">
            <div class="col-sm-2">
                <label asp-for="AttendanceDetailsViewModel.Id" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.Id)
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-sm-2">
                <label asp-for="AttendanceDetailsViewModel.LectureName" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.LectureName)
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-sm-2">
                <label asp-for="AttendanceDetailsViewModel.LectureDate" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.LectureDate)
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-sm-2">
                <label asp-for="AttendanceDetailsViewModel.Presence" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.Presence)
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-sm-2">
                <label asp-for="AttendanceDetailsViewModel.HometaskDone" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.AttendanceDetailsViewModel.HometaskDone)
            </div>
        </div>

        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a role="button" class="btn btn-secondary" asp-page="./Index" >Back to List</a>
        </form>
    </div>
</div>
