@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}

<form method="post">
    <div class="input-group mb-3 shadow-sm rounded">
        <input type="search" class="form-control" asp-for="Query" placeholder="Search...">
        <button type="submit" class="btn btn-primary" asp-page-handler="SearchStudents">Search</button>
    </div>
</form>

@if (Model.Documents.Any())
{
    <div class="p-3 bg-body border shadow-sm rounded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentDetailsViewModel.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentDetailsViewModel.GroupName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Documents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group.Name)
                        </td>
                        <td class="text-center">
                            <a asp-page="Students/Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
