@page
@model Presentation.Pages.Admin.Students.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-5">
    <div class="align-middle p-3 my-3 bg-danger rounded shadow-sm">
        <h1 class="fs-4 mb-0 text-white">Delete this student?</h1>
    </div>

    <div class="p-4 bg-body border shadow-sm rounded">
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="StudentDetailsViewModel.Id" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.StudentDetailsViewModel.Id)
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="StudentDetailsViewModel.FullName" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.StudentDetailsViewModel.FullName)
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="StudentDetailsViewModel.Email" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.StudentDetailsViewModel.Email)
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-5">
                <label asp-for="StudentDetailsViewModel.PhoneNumber" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.StudentDetailsViewModel.PhoneNumber)
            </div>
        </div>
        <div class="row mb-5 align-items-center">
            <div class="col-5">
                <label asp-for="StudentDetailsViewModel.GroupName" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                @Html.DisplayFor(model => model.StudentDetailsViewModel.GroupName)
            </div>
        </div>

        <form method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a role="button" class="btn btn-secondary" asp-page="./Index" >Back to List</a>
        </form>
    </div>
</div>
